

<launch>
    <arg name="uuv_name" default="rexrov" />
    <arg name="output_topic" default="cmd_vel" />
    <!-- The type of message can also be geometry_msgs/Accel -->
    <arg name="message_type" default="twist" />

    <!-- include launch files of empty world -->
    <include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch" />

    <!-- spawn default rexrov -->
    <include file="$(find uuv_gazebo)/launch/rexrov_demos/rexrov_default.launch" />

    <!-- run teleop twist keyboard node in new terminal-->
    <group ns="$(arg uuv_name)">
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard"
            launch-prefix="gnome-terminal --command">
            <!-- <arg name="cmd_vel" value="rexrov/cmd_vel" /> -->
            <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)" />
            <rosparam subst_value="true"></rosparam>
        </node>
    </group>

</launch>