<launch>
    <arg name="uuv_name" default="rexrov" />
    <arg name="output_topic" default="thruster_manager/input" />
    <!-- The type of message can also be geometry_msgs/Accel -->
    <arg name="message_type" default="twist" />

    <!-- include launch files of empty world -->
    <include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch" />

    <!-- spawn default rexrov -->
    <include file="$(find uuv_gazebo)/launch/rexrov_demos/rexrov_wrench_control.launch" />

    <!-- run teleop twist keyboard node in new terminal-->
    <group ns="$(arg uuv_name)">
        <node pkg="q3" type="wrench_controller.py" name="wrench_controller"
            launch-prefix="gnome-terminal --command">
            <!-- <arg name="cmd_vel" value="rexrov/cmd_vel" /> -->
            <!-- <remap from="output" to="/$(arg uuv_name)/$(output_topic)" /> -->
            <rosparam subst_value="true"></rosparam>
        </node>
    </group>

</launch>